# Python
__pycache__/
*.pyc
.venv/
.env
.env.*

# Spark
*.log
spark-warehouse/
*.tmp

# Data
data/
*.parquet
*.csv

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
*.pid

# GCP
.gcp/
*.json
**/application_default_credentials.json
**/gcloud/
**/.config/gcloud/

#test
dataflow/test.py

snipcodes.txt